.sector-select {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.sector-select .input-field {
  margin-top: 0 !important;
}

.select-field {
  font-size: 13px;
  font-family: 'Roboto', 'Arial';
}

.file-input {
  overflow: auto;
  margin-bottom: 20px;
}

.field-input {
  width: 300px !important;
}

input {
   color: black;
 }

.check-input {
  margin-bottom: 5px;
  overflow: auto;
}

.margin-top{
  margin-top: 30px;
}

.table-list th {
  text-align: center;
}

.table-list thead {
  background-color: #92bf23;
  border-bottom: 1px solid #d0d0d0;
  font-family: 'Roboto', 'Arial';
  font-size: 13px;
  border-radius: 3px;
}

.table-list tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-list td {
  text-align: center;
}

.button-color {
  background-color: #92bf23;
  color: black;
}

.form-signup {
  display: inline-block;
  text-align: left;
}

.main-signup {
  height: 100%;
  margin-bottom: 5%;
  font-family: 'Roboto', 'Arial';
  text-align: center;
}

.category-title {
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.caret {
  border-top: 0 !important;
}

.password-button{
  margin: 0 auto;
  font-size: 100%;
  text-align: center;
  align-self: center;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
