.select-field {
  /* font-size: 13px; */
  font-family: 'Roboto', 'Arial';
}

.file-input {
  overflow: auto;
  margin-bottom: 20px;
}

.input-field{
  margin-top: 0px;
}

.field-input {
  width: 300px !important;
  height: 115px !important;
}

input {
   color: black;
 }

.check-input {
  margin-bottom: 5px;
  overflow: auto;
}
