.h2-title-home {
	margin-bottom: 10px;
	height: 48px;
}

.h2-title-home p {
	font-family: 'Roboto', 'Arial';
	font-size: 13px;
}

#obs_agendamento {
	width: 300px;
}

.schedules-list {
	font-size: 13px;
  margin-left: 5px;
}
