.picker__weekday-display, .picker__date-display,
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #92bf23;
}

.picker__day.picker__day--today, .picker__close, .picker__today{
  color: #92bf23;
}

.picker__nav--prev:hover, .picker__nav--next:hover{
  background-color: #ebfcc7;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
  background: #ebfcc7;
}

.picker__year-display{
  color: #f5f7ef;
}

.picker__weekday-display{
  color: #ffffff;
  font-weight: 300;
}

th.picker__weekday::after{
    visibility: visible;
    left: 15px;
    position: absolute;
}

th.picker__weekday[title='domingo']::after{
    content: 'D';
}

th.picker__weekday[title='segunda-feira']::after{
    content: 'S';
}

th.picker__weekday[title='terça-feira']::after{
    content: 'T';
}

th.picker__weekday[title='quarta-feira']::after{
    content: 'Q';
}

th.picker__weekday[title='quinta-feira']::after{
    content: 'Q';
}

th.picker__weekday[title='sexta-feira']::after{
    content: 'S';
}

th.picker__weekday[title='sábado']::after{
    content: 'S';
}

th.picker__weekday{
    visibility: hidden;
    position: relative;
}
