#barra-brasil{
  background:#7F7F7F;
  height: 20px;
  padding:0 0 0 10px;
  display:block;

}

#menu-barra-temp{
  list-style:none;

}

#menu-barra-temp li{
  display:inline;
  float:left;
  padding-right:10px;
  margin-right:10px;
  border-right:1px solid #EDEDED;

}

#menu-barra-temp a{
  font-family:sans,sans-serif;
  text-decoration:none;
  color:white;

}

#barra-brasil  nav {
background-color: #dfdfdf;
 width: auto;
 height: auto;
 line-height: auto;
}

#barra-brasil .list-item a {
  padding-top: 0px !important;
  padding-right: 15px !important;
  padding-bottom: 0px !important;
  padding-left: 13px !important;
}
