.body-div {
	background-color: white;
}

.nav-component {
	background-color: white;	
	color: black;
}

.nav-item a {
	color: black !important;
}

.nav-item-li a {
	height: 50px;
	line-height: 50px !important;
}

.nav-item ul {
	width: 200px !important;
}

.nav-component i {
	margin-left: 0px !important;
}

.progress {
    height: 8px;
    background-color: #92bf23;
    margin: 0;
}

.nav-component ul {
	width: 100%;
}

#nav-mobile {
	width: 50% !important;
}

#nav-mobile ul {
	width: 100% !important;
}

#nav-mobile i {
	display: none;
}

.nav-bar ul a {
	padding: 0 10px !important;
}

.nav-item {
	float: right;
}

.nav-logo { 
  padding: 5px;
  height: 54px;
}

.button-collapse i {
	color: #23527c;
}

.brand-logo {
	left: 10px;
}