input:focus:not([readonly])+label.active.citizen-edit-password,
input:focus:not([readonly])+label.citizen-edit-password,
input:not([readonly])+label.citizen-edit-password{
  color: #84ac1f;
}

.red-text{
  color: red;
}

input.citizen-edit-password{
  margin-top: 0px;
  width: 200px;
}

.input-field.col label{
  left: 0px;
  color: #84ac1f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #84ac1f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #84ac1f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  #84ac1f;
}
