.page-header{
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field.col label{
  left: 0px;
}

input[type=password]:focus:not([readonly])+label.active.new-password{
    color: #92bf23;
}

row.full-width{
    width: 100%;
}
