.cep {
  display: inline-block;
  text-align: left;
}

.main-cep {
	text-align: center;
	height: 100%;
	margin-bottom: 5%;
}
  
.email-sign-up-submit {
  background-color: #92bf23;
}
.email-sign-up-submit:active {
  background-color: #92bf23;
}
.email-sign-up-submit:hover {
  background-color: #92bf23;
}
.email-sign-up-submit:visited {
  background-color: #92bf23;
}
.email-sign-up-submit:focus {
  background-color: #92bf23;
}
